@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400,500,600,700');

body
{
    min-width:320px;
    font-family: 'Exo 2', sans-serif;
    font-size:16px;
}
main
{
    padding:20px 10px;
}

.table
{
    th
    {
        border-top:none;
        cursor:pointer;
        overflow:hidden;
    }

    td{height:63px;}

    th:nth-child(1), td{cursor:default;}

    th:nth-child(1), td:nth-child(1)
    {
        min-width:0;
        width:40px;
    }

    td, th
    {
        min-width:122px;
        text-align:center;
        transition:background-color .2s;
        vertical-align:middle!important;
    }

    .hovered{background-color:rgba(0,0,0,.075);}

    input
    {
        display:inline-block;
        text-align:center;
        max-width:200px;
    }
}

.hid{opacity:0;}

.btn{transition:opacity .2s;}

.widget
{
    position:absolute;
    background-color:white;
    border-radius:3px;
    border:1px solid #ced4da;
    box-shadow: 1px 3px 18px 2px rgba(0,0,0,0.43);
    padding:3px 0;
    &_submit
    {
        cursor:pointer;
        padding:5px;
        background-color:white;
        transition:background-color .2s;
        text-align:center;
        &:hover{background-color:rgba(0,0,0,.075);}
    }
}

.edited{color:#dc3545;}
.inline
{
    display:inline-block;
    line-height:38px;
    vertical-align:middle;
}

.ml{margin-left:20px;}
